<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LDOC Cover swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CB8BDF21C4897F0007B3438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CB8BE061C4897F0007B3438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CB8BE111C4897F0007B3438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
